*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: aqua;

}
main{
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}
nav{
    width: 100%;

}
nav li{
   width: 50%;
    float: left;
    background-color: brown;
    text-align: center;
}
nav li a{
    display: block;
    width: 100%;
    color: white;
    padding: 18px 0;
}

nav li a:hover{
    background-color: #ccc;
    cursor: pointer;
}
footer{
    background-color: brown;
    width: 100%;
    text-align: center;
    color: white;
    padding: 12px 0;
}
.banner img{
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}
.title span {
    margin: 0 20px;
    font-size: 20px;

}
.title hr{
    width: 220px;
    height: 2px;
    border: none;
    background-color: black;
}
.info{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    border: 1px solid #ccc;
    margin: 10px;
}
.info img{
    width: 42%;
    height: 360px;
}
.info .info-text{
    width: 55%;
}
.info .info-text .info-title{
    background-color: brown;
    padding: 8px 12px;
    width: 120px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.info .info-text .info-p{
    font-size: 18px;
    line-height: 35px;
    text-indent: 2em;
}
.imglist{
    width: 100%;
    display: flex;
    margin-top: 12px;
    margin-bottom: 10px;
}
.imglist img{
    width: 20%;
}
.roleContainer{
    padding: 8px 12px;
    width: 100%;
}
.roleContainer .roleItem{
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    
}
.roleContainer .roleItem img{
    width: 240px;
    margin-right: 12px;
}
.roleContainer .roleItem .role-text{
    padding: 8px;
}
.roleContainer .roleItem .role-text .info-title{
    margin-bottom: 15px;
    background-color: brown;
    width: 12px;
    text-align: center;
    padding: 8px 12px;
    color: white;
    border-radius: 4px;
}
.roleContainer .roleItem .info-text .role-p{
    text-indent: 2em;
    font-size: 18px;
    line-height: 38px;
}